.App {
  text-align: center;
}
.AppFS {
  display: flex;
  background-image: url("./img/wood.jpg");
}
.fullscreen {
  background-image: url("./img/wood.jpg");
}
.fullscreen-enabled .AppFS {
  background-image: url("./img/wood.jpg");
}

.buttonDiv {
  width: 140px;
  overflow: hidden; /* for clearfix */
}

.menuDiv {
  flex-grow: 1;
}

.backButton {
  background-image: url("./img/bv.jpg");
  background-color:#D1AC75;
  border: none;
  color: black;
  height: 60px;
  width: 130px;
  border: 5px solid rgb(104, 76, 0);
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 25px;
  margin-bottom:120px;
  font-style: oblique;
  font-weight: bold;
}

.button {
  background-image: url("./img/bv.jpg");
  background-color: #D1AC75;
  border: none;
  font-style: oblique;
  border: 5px solid rgb(104, 76, 0);
  color: black;
  height: 60px;
  width: 130px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 30px;
  margin-bottom:70px;
  font-weight: bold;
}


.header {
  background-image: url("./img/logo.png");
  background-position: 7.5cm;
  background-repeat: no-repeat;
  padding: 25px;
  text-align: left;
  color: black;
  font-size: 20px;
  font-style: oblique;
}


.menu-box {
  width: 840px;
  height: 570px;
  border: 5px solid rgb(104, 76, 0);
  margin: 20px;
  overflow: auto;
}

.menu-pagar {
  width: 840px;
  height: 500px;
  border: 5px solid rgb(104, 76, 0);
  margin: 20px;
  overflow: auto;
}

.inicio{
  background-image: url("./img/backgroundFancy.jpg");
  background-repeat: no-repeat;
  width: 840px;
  height: 570px;
  border: 5px solid rgb(104, 76, 0);
  margin: 20px;
  text-align: center;
}

.item-box {
  width: 780px;
  height: 60px;
  border: 4px solid rgb(104, 76, 0);
  margin: 20px;
  padding-left: 20px;
}

.check-box {
  width: 20px;
  transform: scale(3);
  position: relative;
  top: 20px;
  margin-right: 20px;
  float:left;
}

.label-nombre {
  position: relative;
  top: 13px;
  text-align: left;
  float: left;
  width: 550px;
  font-size: 30px;
  padding-left: 70px;
  font-style: oblique;
  font-weight: bold;
}

.label-precio {
  position: relative;
  text-align: center;
  font-size: 30px;
  top: 13px;
  font-style: oblique;
  font-weight: bold;
}

.img {
  position: relative;
  top: 13px;
  float:center;
}

.total {
  font-size: 50px;
  font-weight: bold;
}

.mesero {
  background-image: url("./img/waiter.png");
  background-position-y: 4cm;
  background-position-x: 3cm;
  background-repeat: no-repeat;
  font-weight: bold;
  text-align: left;
  width: 840px;
  height: 570px;
  margin: 20px;
  font-size: 50px;
  font-weight: bold;
  font-style: oblique;
}